@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
	height: 100%;
}
html,
body {
	position: relative;
	height: 100%;
}

body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-pagination-bullet {
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: #000;
	opacity: 1;
	background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
	color: #fff;
	background: #007aff;
}

.shim-red {
	position: relative;
	overflow: hidden;
	background-color: rgba(255, 0, 0, 0.7);
}
.shim-red::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translateX(-100%);
	background-image: linear-gradient(
		90deg,
		rgba(233, 233, 233, 1) 0,
		rgba(233, 233, 233, 0.9) 50%,
		rgba(233, 233, 233, 0.8) 100%
	);
	animation: shimmer 3s ease-out infinite;
	content: "";
}

@keyframes shimmer {
	100% {
		transform: translateX(0%);
		opacity: 0;
	}
}
